* {
	margin: 0; padding: 0
}
.phan_header{
	margin: auto;
	width: 100%; height: 150px;
	background-color:  #d1ffb8;
}

.phan_header .logo img{
	width: 170px; height: 110px;
	margin-left: 150px;
	margin-top: 10px;
	float: left;
	border: 1px dotted red;
}
.phan_header .ds_menu{
	/*border: 1px solid red;*/
	float: right;
	margin-top: 60px;
    margin-right: 150px;
}

.phan_header .ds_menu ul{
	list-style: none;
	background-color: pink;
	text-align: center;
} 
.phan_header .ds_menu ul li{
	display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative; 
    -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s;
}
.phan_header .ds_menu ul li:hover{
	background: #99ccff;
}
.phan_header .ds_menu ul li a {
	text-decoration: none;
	display: block;
}
.phan_header .ds_menu ul li > .menu_con{
	display: none;
	position: absolute;
	text-align: left;
	padding: 10px;

}
.phan_header .ds_menu ul li > .menu_con li{
	border-bottom: 1px solid #ccc;
}
.phan_header .ds_menu ul li:hover .menu_con{
	display: block;

}

.phan_header .banner{
	float: left;
	width: 1000px; height: 500px;
	/*border: 1px solid red;*/
	margin: auto;
	margin-top: 50px;
	margin-left: 200px;
	/*margin-right: 50px;*/
}
.phan_header .banner img{
	width: 100%; height: 100%;
}
.phan_body{
	margin: auto; margin-top: 10px;
	width: 1000px; height: 1220px;
	/*border: 1px solid red;*/
	float: right;
	margin-right: 150px;
}
.phan_body .ben_trai{
	width: 200px; height: 1000px;
	/*border: 1px solid blue;*/
	float: left;
}
.phan_body .ben_trai .san_pham{
	height: 50px;
	/*border: 1px solid red;*/
	text-align: left;
	padding-left: 10px;	
	line-height: 50px;
	background-color: #86B9D4;
	font-weight: bold;
	color: white;
	/*font-family: Bitter,Arial,Helvetica,sans-serif;*/
}
.phan_body .ben_trai ul{
	list-style: none;
	background-color: white;
	font-size: 12px;
}
.phan_body .ben_trai ul li{
	border-bottom: 1px solid #cccccc;
	padding-left: 10px;
	width: 180px; height: 50px;
	-webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s;
}
.phan_body .ben_trai ul li span{
	color: #ff8566; 
	margin-top: 10px;	
}
.phan_body .ben_trai ul li a{
	text-decoration: none;
	color:  #000099;
	padding-left: 10px;
}
.phan_body .ben_trai ul li:hover{
	background-color: #ffffcc;
	padding-left: 20px;
}
.phan_body .ben_trai ul .ky_niem_chuong{
	border-bottom: none !important;
}
.phan_body .ben_trai .tim_kiem{
	height: 150px;
	/*border: 1px solid red;*/
	background-color: white;
	margin-top: 10px;
	font-weight: bold;
}

.phan_body .ben_trai .tim_kiem input{
	width: 190px;
	height: 25px;
	margin-top: 10px;
}

.phan_body .ben_trai .san_pham_noi_bat .san_pham{
	margin-top: 10px;
	background-color: #9DBF58;
}
.phan_body .ben_trai .san_pham_noi_bat .ds_san_pham_noi_bat{
	width: 200px; height: 315px;
	/*border: 1px solid red;*/
}
.phan_body .ben_trai .san_pham_noi_bat ul{
	height: 300px;
}
.phan_body .ben_trai .san_pham_noi_bat ul li{
	height: 100px;
}
.phan_body .ben_trai .san_pham_noi_bat ul li img{
	width: 70px; height: 90px;
	float: left;
}
.phan_body .ben_trai .san_pham_noi_bat ul li tr td{
	color: blue;
	text-align: left;
}
.phan_body .ben_trai .san_pham_noi_bat ul li .gia{
	color: red;
	text-align: right;
}

.phan_body .ben_trai .san_pham_noi_bat ul li table tr td a:hover{
	color: red;
	text-align: left;
}

/*Ph?n gi?a*/
.phan_body .ben_phai{
	width: 770px; height: 1220px;
	/*border: 1px solid red;*/
	float: right;
	margin-right: 15px;
}
.phan_body .ben_phai .san_pham_moi{
	height: 50px; width: 785px;
	/*border: 1px solid red;*/
	text-align: left;
	line-height: 50px;
	padding-left: 10px;
	background-color: #86B9D4;
	color: white;
	font-weight: bold;
}
.phan_body .ben_phai .vien{
	height: 8px;
	width: 785px;
	background-color: #b2ffd9;
}

.ds_san_pham_moi {
	margin-left: 10px;
}

.sanpham {
	height: 370px;
	width: 31%;
	/*border: 1px solid;*/
	border-radius: 10px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
	align-content: center;
	background-color: #ffe6e6;
}
.sanpham .title_sanpham {
	height: 10%;
	border-radius: 3px;
	background-color: #cceeff;
	text-align: center;
	line-height: 40px;
}

.sanpham .hinhanh_sanpham {
	height: 55%;
	/*border: 1px solid red;*/
	width: 80%;
	margin-left: 10%;
	padding: 0;
}

.sanpham img {
	height: 100%;
	width: 100%;
	border: 1px dotted red;
}

.sanpham .gia_sanpham {
	height: 5%;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	padding: 0;
	color: red;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sanpham .thao_tac_sanpham {
	/*border: 1px solid;*/
	border-radius: 3px;
	text-align: center;
	width: 70%;
	margin-left: 15%;
	margin-bottom: 5px;
}

.sanpham a {
	display: inline-block;
	text-decoration: none;
	padding-bottom: 5px;
	padding-top: 3px;
	font-weight: bold;
}

.sanpham .button1 {
	background-color:#ffd480;
	color: red;
	/*border-color: #f4c441;*/
}

.sanpham .button2 {
	background-color: #ffad99;
	color: white;
	/*border-color: #f44141;*/
}

.phan_footer{
	width: 100%; height: 500px;
	/*border: 1px solid red;*/
	float: right;
	background-color: #453932;
}
.phan_footer .footer_tren .footer_trai{
	float: left;
	/*border: 1px solid white;*/
	width: 600px; 
}

.phan_footer .footer_tren .footer_trai img{
	width: 200px; height: 100px;
	margin-left: 280px;
	margin-top: 50px;
}
.phan_footer .footer_tren .footer_trai p{
	color: white;
	margin-left: 200px;
	text-align: center;
	margin-top: 5px;
	line-height: 30px;
}

.phan_footer .footer_tren .footer_phai{
	/*border: 1px solid white;*/
	float: right;
	width: 550px; height: 300px;
	line-height: 60px;
	padding-top: 40px;
}
.phan_footer .footer_tren .footer_phai button{
	background-color: #ac7339;
	color: white;
	font-size: 15px;
}
.phan_footer .footer_tren .footer_phai button span{
	color: white;
}
.phan_footer .footer_tren .footer_phai span{
	color: white;
}
.phan_footer .footer_duoi{
	width: 100%; height: 200px;
	border-top: 1px dotted white;
	float: right;
	color: white;
}
.phan_footer .footer_duoi table {
	margin: auto;
	/*border: 1px solid red;*/
	width: 900px;
	line-height: 40px;
}
.phan_footer .footer_duoi table tr th{
	border-bottom: 1px dotted white;
	font-size: 16px;
	color: #CE9B59;
}
.phan_footer .footer_duoi table tr td a{
	text-decoration: none;
	color: white;
}
.phan_footer .footer_duoi table tr td a img{
	width: 30px; height: 30px;
}